<!DOCTYPE html>
<html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <meta property="og:image" content="https://stage.popdit.com/Content/Logo.gif" />
    <title>@ViewBag.Title - Popdit</title>
    @Styles.Render("~/Content/css?nocache=" + DateTime.Now.Second.ToString()) <!-- TBD remove seconds for production -->
    @Scripts.Render("~/bundles/popdit")
</head>
<body>
    <div class=main>
        <div class=menubar>
            <div class=menuitem>@Html.ActionLink("Pops", "Index", "Event")</div>
            <div class=menuitem>@Html.ActionLink("Filters", "Index", "Filter")</div>
            <div class=menuitem>@Html.ActionLink("Bubbles", "Index", "Bubble")</div>
            <div class=menuitem>@Html.ActionLink("More", "Index", "More")</div>
        </div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
