@model List<PopditWeb.Models.Bubble>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo><img src="~/Content/Logo.gif" width="206" height="58" /></span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">Bubbles</td>
        </tr>
        <tr class="item header" id="headerSearch">
            <td><span onclick="ToggleDiv('Search')">&middot; Search &middot;</span></td>
        </tr>
        <tr class="item detail" id="detailSearch">
            <td>
                @using (Html.BeginForm("Index", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Search &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Active</td><td class="left">Dropdown list here</td></tr>
                        <tr><td></td><td><input type="submit" value="Search" /></td></tr>
                        <tr><td></td><td><input type="submit" value="Reset" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        <tr class="item header" id="headerCreate">
            <td><span onclick="ToggleDiv('Create')">&middot; Create a new bubble &middot;</span></td>
        </tr>
        <tr class="item detail" id="detailCreate">
            <td>
                @using (Html.BeginForm("Create", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Create a new filter &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>                     
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Latitude</td><td>@Html.TextBox("Latitude")</td></tr>
                        <tr class="form"><td>Longitude</td><td>@Html.TextBox("Longitude")</td></tr>
                        <tr class="form"><td>Radius</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Alert message</td><td>@Html.TextBox("AlertMsg")</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.CheckBox("Active", false)</td></tr>
                        <tr><td></td><td><input type="submit" value="Create new bubble" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr class="item header" id="@("header" + Model[i].Id)">
                <td><span onclick="ToggleDiv(@Model[i].Id)">@Model[i].Name</span></td>
            </tr>
            <tr class="item detail" id="@("detail" + Model[i].Id)">
                <td>
                   @using (Html.BeginForm("Update/" + Model[i].Id.ToString(), "Bubble", FormMethod.Post))
                   {
                    @Html.Hidden("Id", Model[i].Id, new { @name = "Id" })
                    @Html.Hidden("ProfileId", Model[i].ProfileId, new { @name = "ProfileId" })
                    <table class="content">
                        <tr><td colspan="2">@Model[i].Name</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.EditorFor(m => m[i].Name, null, "Name")</td></tr>
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Latitude</td><td>@Html.EditorFor(m => m[i].Latitude, null, "Latitude")</td></tr>
                        <tr class="form"><td>Longitude</td><td>@Html.EditorFor(m => m[i].Longitude, null, "Longitude")</td></tr>
                        <tr class="form"><td>Radius</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Alert message</td><td>@Html.EditorFor(m => m[i].AlertMsg, null, "AlertMsg")</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.EditorFor(m => m[i].Active, null, "Active")</td></tr>
                        <tr><td></td><td><input type="submit" value="Update bubble" /></td></tr>
                    </table>
                    }
                </td>
            </tr>
        }
    </table>
</div>