@model List<PopditWebApi.BubbleInterop>
@{
    ViewBag.Title = "Bubbles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">Bubbles</td>
        </tr>
        <!--<tr class="header" id="headerSearch">
            <td class="item" onclick="ToggleCell('Search')">&middot; Search my bubbles &middot;</td>
        </tr>
        <tr class="detail" id="detailSearch">
            <td class="item">
                @using (Html.BeginForm("Index", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Search my bubbles &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form">
                            <td>Active</td>
                            <td class="left">
                                @Html.DropDownList("Active",
                  new List<SelectListItem>{
                       new SelectListItem { Value = "null" , Text = "- Not set -" },
                       new SelectListItem { Value = "false" , Text = "Not active" },
                       new SelectListItem { Value = "true" , Text = "Active" }
                    })
                            </td>
                        </tr>
                        <tr><td></td><td><input type="submit" value="Search" /></td></tr>
                        <tr><td></td><td><input type="submit" value="Reset" /></td></tr>
                    </table>
                }
            </td>
        </tr>-->
        <tr class="header" id="headerCreate">
            <td class="item" onclick="ToggleCell('Create')">&middot; Create a new bubble &middot;</td>
        </tr>
        <tr class="detail" id="detailCreate">
            <td class="item">
                @using (Html.BeginForm("Create", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Create a new bubble &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.EditorFor(m => m[0].Name, null, "Name")</td></tr>
                        <tr class="form"><td>Notification</td><td>@Html.EditorFor(m => m[0].AlertMsg, null, "AlertMsg")</td></tr>
                        <tr class="form"><td>Address</td><td>@Html.EditorFor(m => m[0].Address, null, "Address")</td></tr>
                        <tr class="form"><td>Phone</td><td>@Html.EditorFor(m => m[0].Phone, null, "Phone")</td></tr>
                        <tr class="form"><td>URL</td><td>@Html.EditorFor(m => m[0].Url, null, "Url")</td></tr>
                        <tr class="form"><td>Radius</td><td>@Html.DropDownListFor(m => m[0].RadiusId, new SelectList((List<PopditWebApi.RadiusInterop>)ViewData["Radii"], "Id", "Description", Model[0].RadiusId))</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.EditorFor(m => m[0].Active, null, "Active")</td></tr>
                        <tr><td></td><td><input type="submit" value="Create new bubble" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        @if ((bool)ViewData["UpDown"])
        {
            <tr class="header" id="headerUpDown">
                <td class="item" onclick="ToggleCell('UpDown')">&middot; Upload / Download &middot;</td>
            </tr>
            <tr class="detail" id="detailUpDown">
                <td class="item">
                    @using (Html.BeginForm("UpDown", "Bubble", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                        <table class="content">
                            <tr><td colspan="2">&middot; Upload / Download &middot;</td></tr>
                            <tr>
                                <td><input id="File1" type="file" name="file" /></td>
                                <td><button name="submit" value="upload">Upload</button></td>
                            </tr>
                            <tr><td colspan="2"><button name="submit" value="download">Download</button></td></tr>
                        </table>
                    }
                </td>
            </tr>
        }
        @for (var i = 1; i < Model.Count(); i++) // Note that we start at 1 because of blank bubble.
        {
            <tr class="header" id="@("header" + Model[i].Id)">
                @if (Model[i].Pops > 0)
                {
                <td class="item" onclick="ToggleCell(@Model[i].Id)">@Model[i].Name<span class="count" title="Pops">@Model[i].Pops.ToString()</span></td>
                }
                else
                {
                <td class="item" onclick="ToggleCell(@Model[i].Id)">@Model[i].Name</td>                
                }
            </tr>
            <tr class="detail" id="@("detail" + Model[i].Id)">
                <td class="item">
                    @using (Html.BeginForm("Update/" + Model[i].Id.ToString(), "Bubble", FormMethod.Post))
                    {
                        @Html.Hidden("Id", Model[i].Id, new { @name = "Id" })
                        @Html.Hidden("ProfileId", Model[i].ProfileId, new { @name = "ProfileId" })
                        <table class="content">
                            @if (Model[i].Pops > 0)
                            {
                            <tr><td colspan="2">@Model[i].Name<span class="count" title="Pops">@Model[i].Pops.ToString()</span></td></tr>
                            }
                            else
                            {
                            <tr><td colspan="2">@Model[i].Name</td></tr>
                            }
                            <tr class="form"><td>Name</td><td>@Html.EditorFor(m => m[i].Name, null, "Name")</td></tr>
                            <tr class="form"><td>Notification</td><td>@Html.EditorFor(m => m[i].AlertMsg, null, "AlertMsg")</td></tr>
                            <tr class="form"><td>Address</td><td class="latlong">@Html.EditorFor(m => m[i].Address, null, "Address")</td></tr>
                            <tr class="form"><td>Phone</td><td>@Html.EditorFor(m => m[i].Phone, null, "Phone")</td></tr>
                            <tr class="form"><td>URL</td><td>@Html.EditorFor(m => m[i].Url, null, "Url")</td></tr>
                            <tr class="form"><td>Radius</td><td>@Html.DropDownListFor(m => m[i].RadiusId, new SelectList((List<PopditWebApi.RadiusInterop>)ViewData["Radii"], "Id", "Description", Model[i].RadiusId))</td></tr>
                            <tr class="form"><td>Active</td><td class="left">@Html.EditorFor(m => m[i].Active, null, "Active")</td></tr>
                            <tr><td>&nbsp;</td><td><input name="command" type="submit" value="Update" /></td></tr>
                            <tr><td>&nbsp;</td><td><input type="button" onclick="ToggleRow(@Model[i].Id)" value="Delete" /></td></tr>
                            <tr class="delete" id="@("delete" + Model[i].Id)"><td>&nbsp;</td><td><input name="command" type="submit" value="Confirm deletion" class="confirm" /></td></tr>
                        </table>
                    }
                </td>
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Help", "Help", "More")</td>
        </tr>
    </table>
</div>