@model List<PopditWeb.Models.Bubble>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function OpenDiv(id)
    {
        // Show all the headers.
        var toHide = document.getElementsByClassName('header');
        for (var i = 0; i < toHide.length; i++) { toHide[i].style.display = "table-row"; }
        // Hide this header
        document.getElementById("header" + id).style.display = "none";
        // Hide all the details.
        var toHide = document.getElementsByClassName('detail');
        for (var i = 0; i < toHide.length; i++) { toHide[i].style.display = "none"; }
        // Show this detail.
        document.getElementById("detail" + id).style.display = "table-row";
    }
</script>

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo>@PageData["SiteName"]</span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">Bubbles</td>
        </tr>
        <tr class="item header" id="headerSearch">
            <td><span onclick="OpenDiv('Search')">&middot; Search &middot;</span></td>
        </tr>
        <tr class="item detail" id="detailSearch">
            <td>
                @using (Html.BeginForm("Index", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Search &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Radius</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Active</td><td class="left">Dropdown list here</td></tr>
                        <tr><td></td><td><input type="submit" value="Search" /></td></tr>
                        <tr><td></td><td><input type="submit" value="Reset" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        <tr class="item header" id="headerCreate">
            <td><span onclick="OpenDiv('Create')">&middot; Create a new bubble &middot;</span></td>
        </tr>
        <tr class="item detail" id="detailCreate">
            <td>
                @using (Html.BeginForm("Create", "Bubble", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Create a new filter &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Radius</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.CheckBox("Active", false)</td></tr>
                        <tr><td></td><td><input type="submit" value="Create new bubble" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr class="item header" id="@("header" + Model[i].Id)">
                <td><span onclick="OpenDiv(@Model[i].Id)">@Model[i].Name</span></td>
            </tr>
            <tr class="item detail" id="@("detail" + Model[i].Id)">
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m[i].Id)
                    <table class="content">
                        <tr><td colspan="2">@Model[i].Name</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBoxFor(m => m[i].Name)</td></tr>
                        <tr class="form"><td>Category</td><td>Drop down list here</td></tr>
                        <tr class="form"><td>Latitude</td><td>@Html.TextBoxFor(m => m[i].Latitude)</td></tr>
                        <tr class="form"><td>Longitude</td><td>@Html.TextBoxFor(m => m[i].Longitude)</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.CheckBoxFor(m => m[i].Active, new { @class = "checkbox" })</td></tr>
                        <tr><td></td><td><input type="submit" value="Update bubble" /></td></tr>
                    </table>
                    }
                </td>
            </tr>
        }
    </table>
</div>
