@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">More</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("History", "History", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Metrics", "Metrics", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Account", "Account", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Developers", "Developers", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Company", "Company", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("What is Popdit?", "WhatIs", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Sign out", "SignOut", "Home")</td>
        </tr>

    </table>
</div>