@{ ViewBag.Title = "More"; }

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">More</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Welcome", "Welcome", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("History", "History", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Metrics", "Metrics", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Account", "Account", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Company", "Company", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Help", "Help", "More")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Sign out", "SignOut", "Home")</td>
        </tr>
    </table>
</div>