@model PopditWebApi.ProfileInterop
@{
    ViewBag.Title = "Create new account";
    Layout = "~/Views/Shared/_LayoutSignedOut.cshtml";
}

    <div class="content">
    @using (Html.BeginForm("Create", "profile", FormMethod.Post, new { @class = "content" }))
    {
        <table id="content" class="content">
            <tr>
                <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
            </tr>
            <tr>
                <td class="pagetitle" colspan="2">Create new account</td>
            </tr>
            <tr class="form">
                <td>Phone</td>
                <td>
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </td>
            </tr>
            <tr class="form">
                <td>Password</td>
                <td>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr class="form">
                <td>Nickname</td>
                <td>
                    @Html.EditorFor(model => model.Nickname)
                    @Html.ValidationMessageFor(model => model.Nickname)
                </td>
            </tr>
            <tr class="form">
                <td>Email</td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr class="form">
                <td>Date of birth</td>
                <td>
                    @Html.EditorFor(model => model.DOB)
                    @Html.ValidationMessageFor(model => model.DOB)
                </td>
            </tr>
            <tr class="form">
                <td>Gender</td>
                <td>
                    @Html.DropDownListFor(model => model.Male,
                  new List<SelectListItem>{
                       new SelectListItem { Value = "false" , Text = "Female" },
                       new SelectListItem { Value = "true" , Text = "Male" }
                    }, "- Not set -")
                    @Html.ValidationMessageFor(model => model.Male)
                </td>
            </tr>
            <tr class="form">
                <td>&nbsp;</td>
                <td>By creating an account,<br /> you agree to our @Html.ActionLink("Terms", "TermsSignedOut", "More").</td>
            </tr>
            <tr>
                <td>@Html.HiddenFor(m => m.Id)</td>
                <td><input type="submit" value="Create new account" /></td>
            </tr>
            <tr>
                <td colspan="2"><p class="center">@Html.ActionLink("Sign Up / Sign In", "Index", "Home")</p></td>
            </tr>
        </table>
    }
    </div>