@model PopditWeb.Models.Profile
@{
    ViewBag.Title = "Create new account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content">
    @using (Html.BeginForm())
    {
        <table id="content" class="content">
            <tr>
                <td colspan="2"><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
            </tr>
            <tr>
                <td colspan="2">@PageData["Tagline"]</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td class="pagetitle" colspan="2">Create new account</td>
            </tr>
            <tr class="form">
                <td>Phone</td>
                <td>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="form">
                <td>Password</td>
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="form">
                <td>Nickname</td>
                <td>
                    @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="form">
                <td>Email</td>
                <td>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="form">
                <td>Date of birth</td>
                <td>
                    @Html.EditorFor(model => model.DobJson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DobJson, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr class="form">
                <td>Gender</td>
                <td>
                    @Html.EditorFor(model => model.Male, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Male, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.HiddenFor(m => m.Id)</td>
                <td><input type="submit" value="Create new account" /></td>
            </tr>
        </table>
    }
    </div>