@model PopditWeb.Models.Profile
<!-- Newtonsoft.Json.Linq.JObject -->
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content">
    @using (Html.BeginForm("Update/" + Model.Id.ToString(), "Profile", FormMethod.Post, new { @class = "content" }))
    {
        <table id="content" class="content">
            <tr>
                <td colspan="2"><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td class="pagetitle" colspan="2">Profile</td>
            </tr>
            <tr class="form">
                <td>Phone</td>
                <td>@Html.TextBoxFor(m => m.Phone)</td>
            </tr>
            <tr class="form">
                <td>Password</td>
                <td>@Html.TextBoxFor(m => m.Password)</td>
            </tr>
            <tr class="form">
                <td>Nickname</td>
                <td>@Html.TextBoxFor(m => m.Nickname)</td>
            </tr>
            <tr class="form">
                <td>Email</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
            <tr class="form">
                <td>Date of birth</td>
                <td>@Html.TextBoxFor(m => m.DobJson)</td>
            </tr>
            <tr class="form">
                <td>Gender</td>
                <td>
                    @Html.DropDownListFor(m => m.Male,
                  new List<SelectListItem>{
                       new SelectListItem { Value = "false" , Text = "Female" },
                       new SelectListItem { Value = "true" , Text = "Male" }
                    }, "- Not set -")
                </td>
            </tr>
            <tr class="form">
                <td>@Html.HiddenFor(m => m.Id)</td>
                <td><input type="submit" value="Update profile" /></td>
            </tr>
        </table>
    }
    </div>