@model List<PopditInterop.EventMobile>
@{
    ViewBag.Title = "Pops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td colspan="2" class="pagetitle">Pops</td>
        </tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="2">
                    You haven't popped any bubbles in the last 24 hours.  Set up some @Html.ActionLink("filters", "Index", "Filter") to make your phone sensitive to places that interest you.
                </td>
            </tr>
        }
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>&nbsp;</td>
                <td class="hist">@Model[i].ProviderName</td>
            </tr>
            <tr>
                <td class="hTime">@Model[i].TimestampToday</td>
                <td class="hist"><a href="http://maps.apple.com/maps?daddr=@Model[i].Latitude,@Model[i].Longitude" target="_blank">@Model[i].MsgTitle</a></td>
            </tr>
            <tr>
                <td class="underline">&nbsp;</td>
                <td class="underline">@Model[i].Msg</td>                
            </tr>
        }
        <tr>
            <td colspan="2">@Html.ActionLink("Help", "Help", "More")</td>
        </tr>
    </table>
</div>

