@model List<PopditWebApi.EventInterop>
@{
    ViewBag.Title = "Pops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td colspan="2" class="pagetitle">Pops</td>
        </tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td class="text" colspan="2">
                    You haven't popped any bubbles in the last 24 hours.  Add some @Html.ActionLink("friends", "Index", "Friend") so you will pop their bubbles when you travel.
                </td>
            </tr>
        }
        @for (var i = 0; i < Model.Count; i++)
        {
            <tbody class="underline">
                <tr>
                    <td>&nbsp;</td>
                    <td class="hist">@Model[i].ProviderName</td>
                </tr>
                <tr>
                    <td class="hTime">@Model[i].TimestampToday</td>
                    <td class="hist"><a href="http://maps.apple.com/maps?daddr=@Model[i].Latitude,@Model[i].Longitude" target="_blank">@Model[i].MsgTitle</a></td>
                </tr>
                @if (Model[i].Msg != null && Model[i].Msg.Length > 0)
                {
                    <tr>
                        <td>&nbsp;</td>
                        <td class="hist">@Model[i].Msg</td>
                    </tr>
                }
                @if (Model[i].Phone != null && Model[i].Phone.Length > 0)
                {
                <tr>
                    <td>&nbsp;</td>
                    <td class="hist"><a href="tel:@Model[i].Phone">@Model[i].Phone</a></td>
                </tr>
                }
                @if (Model[i].Url != null && Model[i].Url.Length > 0)
                {
                <tr>
                    <td>&nbsp;</td>
                    <td class="hist"><a href="http://@Model[i].Url" target="_blank">@Model[i].Url</a></td>
                </tr>
                }
            </tbody>
        }
        <tr>
            <td colspan="2">@Html.ActionLink("Help", "Help", "More")</td>
        </tr>
    </table>
</div>

