@using PopditInterop
@model List<PopditInterop.FilterInterop>
@{
    ViewBag.Title = "Filters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">Filters</td>
        </tr>
        <tr class="header" id="headerSearch">
            <td class="item" onclick="ToggleCell('Search')">&middot; Search my filters &middot;</td>
        </tr>
        <tr class="detail" id="detailSearch">
            <td class="item">
                @using (Html.BeginForm("Index", "Filter", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Search my filters &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form"><td>Category</td><td>@Html.DropDownList("CategoryId", new SelectList((List<PopditInterop.Category>)ViewData["Categories"], "Id", "Description"), "- Select Category -")</td></tr>
                        <tr class="form"><td>Radius</td><td>@Html.DropDownList("RadiusId", new SelectList((List<PopditInterop.Radius>)ViewData["Radii"], "Id", "Description"), "- Select Radius -")</td></tr>
                        <tr class="form"><td>Active</td><td class="left"></td></tr>
                        <tr><td></td><td><input type="submit" value="Search" /></td></tr>
                        <tr><td></td><td><input type="submit" value="Reset" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        <tr class="header" id="headerCreate">
            <td class="item" onclick="ToggleCell('Create')">&middot; Create a new filter &middot;</td>
        </tr>
        <tr class="detail" id="detailCreate">
            <td class="item">
                @using (Html.BeginForm("Create", "Filter", FormMethod.Post))
                {
                    <table class="content">
                        <tr><td colspan="2">&middot; Create a new filter &middot;</td></tr>
                        <tr class="form"><td>Name</td><td>@Html.TextBox("Name")</td></tr>
                        <tr class="form"><td>Category</td><td>@Html.DropDownList("CategoryId", new SelectList((List<PopditInterop.Category>)ViewData["Categories"], "Id", "Description"), "- Select Category -")</td></tr>
                        <tr class="form"><td>Radius</td><td>@Html.DropDownList("RadiusId", new SelectList((List<PopditInterop.Radius>)ViewData["Radii"], "Id", "Description"))</td></tr>
                        <tr class="form"><td>Active</td><td class="left">@Html.CheckBox("Active", true)</td></tr>
                        <tr><td></td><td><input type="submit" value="Create new filter" /></td></tr>
                    </table>
                }
            </td>
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr class="header" id="@("header" + Model[i].Id)">
                <td class="item" onclick="ToggleCell(@Model[i].Id)">@Model[i].Name</td>
            </tr>
            <tr class="detail" id="@("detail" + Model[i].Id)">
                <td class="item">
                    @using (Html.BeginForm("Update/" + Model[i].Id.ToString(), "Filter", FormMethod.Post))
                    {
                        @Html.Hidden("Id", Model[i].Id, new { @name = "Id" })
                        @Html.Hidden("ProfileId", Model[i].ProfileId, new { @name = "ProfileId" })
                        <table class="content">
                            <tr><td colspan="2">@Model[i].Name</td></tr>
                            <tr class="form"><td>Name</td><td>@Html.EditorFor(m => m[i].Name, null, "Name")</td></tr>
                            <tr class="form"><td>Category</td><td>@Html.DropDownListFor(m => m[i].CategoryId, new SelectList((List<PopditInterop.Category>)ViewData["Categories"], "Id", "Description", Model[i].CategoryId), "- Select Category -")</td></tr>
                            <tr class="form"><td>Radius</td><td>@Html.DropDownListFor(m => m[i].RadiusId, new SelectList((List<PopditInterop.Radius>)ViewData["Radii"], "Id", "Description", Model[i].RadiusId))</td></tr>
                            <tr class="form"><td>Share</td><td>@Html.TextBoxFor(m => m[i].PublicKey, new { disabled = "disabled", @readonly = "readonly" })</td></tr>
                            <tr class="form"><td>Active</td><td class="left">@Html.EditorFor(m => m[i].Active, null, "Active")</td></tr>
                            <tr><td>&nbsp;</td><td><input name="command" type="submit" value="Update" /></td></tr>
                            <tr><td>&nbsp;</td><td><input type="button" onclick="ToggleRow(@Model[i].Id)" value="Delete" /></td></tr>
                            <tr class="delete" id="@("delete" + Model[i].Id)"><td>&nbsp;</td><td><input name="command" type="submit" value="Confirm deletion" class="confirm" /></td></tr>
                        </table>
                    }
                </td>
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Help", "Help", "More")</td>
        </tr>
    </table>
</div>
